//========================================================================================================================================================================================================================================================================================
// Main Variables
//========================================================================================================================================================================================================================================================================================
// Colors
$mainColor: #272727;
$whiteColor: #f4f4f4;
//========================================================================================================================================================================================================================================================================================
// Main Color for svg-srites
$svgColor: #000;
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// breakpoint for device types
$pc: em($maxWidthContainer + $containerPadding);
$laptopL: em(1439.95);
$laptop: em(1199.95);
$tablet: em(991.95);
$mobile: em(767.95);
$mobileSmall: em(479.95);
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Main parameters font
$fontFamily: 'Montserrat';
$fontSize: rem(16);
$fontWeight: 400;
$lineHeight: normal;
$letterSpacing: rem(1);
$fontStyle: normal;
//========================================================================================================================================================================================================================================================================================
