/* HEADER */
/*=====================================================================================*/
.header {
    color: $whiteColor;
    // .header__container
    &__container {}

    // .header__content
    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr minmax(auto, 600px) 1fr;
        align-items: center;
        gap: rem(50);

        .search-wrapper {
            width: 100%;
            max-width: rem(600);
        }
    }
}

.logo {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}