@use "sass:math";
//========================================================================================================================================================================================================================================================================================
// Обнулення стилів
@import "base/reset";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Підключення міксінів
@import "utils/mixins";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Підключення шрифтів з fonts.google.com

// &display=swap - вказує браузеру використовувати резервний шрифт для 
// відображення тексту, доки не буде повністю завантажено спеціальний шрифт

// @import url('');
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");

// Розкоментувати у разі необхідності підключення локальних шрифтів
// @import "fonst/fonts";

// Розкоментувати у разі необхідності підключення локальних іконочних шрифтів
// @import "fonts/icons";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Мінімальна ширина полотна
$minWidth: 280;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнеру (0 - немає обмеження)
$maxWidthContainer: 1790;
// Загальний внутрішній відступ у контейнера
$containerPadding: 130; // по 65 зліва і зправа

// type responsive container
// 1 - звичайний чуйний контейнер
// 0 - media breakpoints
$typeResponsive: 1;
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Variables
@import "utils/variables";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
/* STYLES.CSS */
/*=====================================================================================*/
/* Стилі body */
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    // font-style: $fontStyle;
    // letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    color: $mainColor;

    // Заблокований скрол
    &.lock{
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
        // .header {
        //     padding-right: 17px;
        // }
    }
}
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Responsive Container
@import "utils/container";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Підключення файлів зі стилями 

//========================================================================================================================================================================================================================================================================================
// Modules
// @import "modules/commons";
@import "modules/current-weather";
// @import "modules/star-rating";
// @import "modules/popups";
// @import "modules/svg-sprites";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Layout
@import "layout/header";
@import "layout/footer";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Pages
@import "pages/home";
//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================

//========================================================================================================================================================================================================================================================================================
// Vendor
// @import "vendor/swiper";
//========================================================================================================================================================================================================================================================================================
